.button {
    width: fit-content;
    padding: 12px 24px;
    border-radius: 9px 32px;
    background-color: #aa0000;
    box-shadow: 5px 2px 11.9px 0px #AA0000;
    color: #fff;
    border: none;
    font-weight: 300;
    font-size: 18px;
    margin-top: 8px;
    font-family: inter, sans serif;
    cursor: pointer;
}

.button:hover {
    background-color: #ff1e28;
}