.adContainer {
    position: relative;
    width: 100%;
    height: 470px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-radius: 20px;
    font-family: inter, sans-serif;
}

section, h2, p {
    margin: 0;
}

.content {
    position: relative;
    max-width: 500px;
    z-index: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 95px;

}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.smallText {
    font-size: 16px;
    font-weight: 300;
    color: #7b7b7b;
    line-height: 24px;
}

.movieTitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #d0d1d1;
}

.rating {
    font-size: 16px;
    font-weight: 300;
    line-height: 8px;
    color: #7b7b7b;
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars {
    display: inline-flex;
    flex-direction: row;
    align-items:end;
    gap: 5px;
    margin-right: 10px ;
}

.category {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 24px;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #7b7b7b;
    max-width: 352px;
}

.batmanImg {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    z-index: 2;
}


@media (max-width: 1295px) {
   .adContainer {
    padding: 40px 0px;
   }
   .content {
    padding: 40px;

   }
   .rating {
    font-size: 14px;
    line-height: 14px;
   }
   .descriptionSection {
    gap: 16px;
   }
   .infoSection {
    gap: 8px;
   }
}

@media (max-width: 768px) {
    .adContainer {
        padding: 16px 0px;
    }
    .content {
        padding: 16px;
    }
    .descriptionSection {
        gap: 8px;
    }
    .infoSection {
        gap: 0px;
    }
    .stars {
        gap: 6px;
    }
    .batmanImg {
        display: none;
    }
    .description {
        font-size: 14px;
        max-width: 265px;
    }
    .category {
        font-size: 14px;
    }
    .rating {
        font-size: 14px;
    }
    .smallText {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }
}
