body {
  background-color: #0e0e0e;
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 300px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

@media (max-width: 1280px) {
    .app {
        padding: 10px 32px;
    }
}
@media (max-width: 768px) {

    .app {
        padding: 5px 16px;
    }
}